body {
    background-color: #303030;
    background-image: url("curtain.jpg"), url("curtain.jpg");
    background-position: left, right;
    background-repeat: no-repeat;
    background-size: 15% 2000px;
}

#player {
    padding-top: 50px;
    display: block;
    margin: 0 auto;
}

#menu, #options, #directors, #genres {
    text-align: center;
}

#directors, #genres {
    display: none;
}

button {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
    background-color: white;
    border-color: gold;
    border-width: 4px;
    border-radius: 8px;
}